 /* لتحديد لون تحديد النصوص */
::selection {
  background: #ffe1006a;
  color: #ffffff;
}

::-moz-selection {
  background: #ffe1006a;
  color: #ffffff;
}



html {
  scroll-behavior: smooth;
}



/* للتعديل على جسم المتصفح كاملا */
body {
  background: linear-gradient(#0c0c0c 40% ,#111111);
  margin: 0;
  padding: 0;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Playpen Sans Arabic", cursive;
  /* background-image: url(img/wallpaper-hero.jpg);
  background-repeat: no-repeat; */

}



/* ================(1)================= */


/* ================(2)================= */
/* معلومات اول الصفحة */

.hollow {
  position: fixed;
  z-index: -1;
}


.author {
  display: flex;
  flex-direction: row-reverse;  /* يعكس الأعمدة */
  min-height: 50vh;
  padding: 145px 0px 0px 0px;
  align-items: center;
}

.author-card{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.author-content{
  flex: 1;
  padding-right: 20px;
  padding-left: 0;
  max-height: 250px;
  /* background-color: #c3b711; */
}

.avatar{
  width: 240px;
  max-width: 100%;
  display: block;
}
 
.authors{
  font-size: 48px;
  font-weight: 500;
  margin: 20px 0 15px;
  text-align: center;
  color: white;

}

.links{
  display: flex;
  gap: 20px;
}

.links svg{
  height: 30px;
  fill: white;
  transition: 0.3s;
}

.links svg:hover{
  fill: #ffffff74;
}


/* نص المؤلف*/

.author-content{
  /* background: #c3b711; */
  max-width: 70%;
  margin: 0 auto;
  /* align-items: center; */
}

.about1 {
  /* padding: 400px 0px 0px 0px; */
  text-align: center;
  color: white;
  font-size: 26px;
  word-spacing: 6px;
  line-height : 40px;
}

.about2 {
  /* padding: 10px 0px 0px 0px; */
  text-align: center;
  color: white;
  font-size: 26px;
  word-spacing: 6px;
}

.info {
  margin: 0 auto;
  max-width: 1100px;
  display: grid;
  /* padding: 0px 80px; */
  /* background-color: #c3b711; */
  
}

.info h2 {
  color: white;
  /* display: contents; */
  /* text-align: right; */
  /* font-size: 30px; */
  font-weight: 500;
}





/* ================(4)================= */

/*  عرض صفحات المقالات */
.posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 0px 80px 0px;
}

.post-card {
  background: #151515;
  border-radius: 14px;
  border: 2px #ffffffa3 dashed;
  overflow: hidden;
  transition: transform .2s ease, box-shadow .2s ease;
}



.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,.3);
}

.post-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.post-thumbnail img {
  width: 100%;
  display: block;
}

.post-body {
  padding: 14px;
}

.post-title {
  margin: 0 0 8px;
  font-weight:500;
  font-size: 18px;
  color: #fff;
}

.post-meta {
  display: flex;
  gap: 10px;
  font-size: 15px;
  color: #CDCDCD;
  margin-bottom: 10px;
}

.tag {
  font-size: 14px;
  padding: 0px 6px;
  border: 2px #ffe100cd solid;
  border-radius: 999px;
  /* background: #07d48ccd; */
  color: #fff;
  transition: 0.2s
}


.tag:hover{
  border: 2px #ffe10000 solid;  
  background: #ffe100cd;
  color: #0c0c0c;
  transition: 0.2s
}

#btnup{
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 200px;
  background: #ffe100cd;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 25px;
  display: none;
  z-index: 100;
}


/* للتعديل على الاحجام عندما تصغر الشاشة */


@media (max-width: 1900px) {
.about1 {
  font-size: 20px;
}

.about2 {
  font-size: 20px;
}
 
}

@media (max-width: 1400px) {
 .about1 {
  font-size: 19px;
}

.about2 {
  font-size: 19px;
}

.avatar {
  width: 210px;
}
}


@media (max-width: 1100px) {
  .posts-grid {
    grid-template-columns: repeat(2, 1fr);
  }



  .about {
    width: 200px;
  }

  .author {
    flex-direction: column;
    /* min-height: 100vh; */
    padding: 150px 20px 60px;
    text-align: center;
  }

  .author-card {
    margin-bottom: 40px;
  }

  .author-content {
    padding: 0;
    width: 100%;
    max-width: 700px;
  }

  #authors{
    font-size: 38px;
  }

  .links svg{
    height: 24px;
  }
  
}

@media (max-width: 650px) {
  .posts-grid {
    grid-template-columns: 1fr;
  }

  .avatar {
    width: 180px;
  }


}





